<link href="bootstrap.css" rel="stylesheet">
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
                <th scope="col">Subject</th>
                <th scope="col">Message</th>
            </tr>
        </thead>
        <tbody>
        <% for(var i=0; i<contacts.length; i++) {%>
                <tr>
                    <td><span><%= i + 1 %></span></td>
                    <td><span><%= contacts[i].firstName %></span></td>
                    <td><span><%= contacts[i].lastName %></span></td>
                    <td><span><%= contacts[i].email %></span></td>
                    <td><span><%= contacts[i].subject %></span></td>
                    <td><span><%= contacts[i].message %></span></td>
                </tr>               
            <% } %>
        </tbody>
    </table>
</div>

<br>
<br>